header{
    .h-top{
        padding: 8px 0px;
        display: flex;
        justify-content: space-between;

        .h-top-right{
            display: flex;
            align-items: center;
            
            .birkartpng{
                width: 44px;
                height: 28px;
                margin-right: 5px;
            }
            ul{
                display: flex;
                list-style: none;
                display: flex;
    align-items: center;
                li{
                    margin: 0 13px;
                
                    a{
                        font-size: 14px;
                        text-decoration: none;
                        color:black;
                    }
                }
            }
        }
    }
    .h-bottom-color{
        background-color:#383E42;
        .h-bottom{
            display: flex;
            justify-content: space-between;
            .category{
                
                display: flex;
               padding: 24px 15px;
               width: 90px;
                button{
                    width: 40px;
                    height: 40px;
                    background: none;
                    border: none;
                    text-align: center;
                    color:white;
                    font-size: 10px;
                    svg{
                        margin-left: 15px;
                    }
                }
                
            }
            .category:hover{
                background-color: #272b2e;
            }
            .search1{
                margin-top: 6px;
               width: 700px;
               padding: 15px;
               margin-left: 20px;
               .search-box{
               
               width: 100%;
               background-color:white;
               border-radius: 5px;
               input{
                width: 80%;
                height: 50px;
               border-radius: 5px;
               border:none;
               padding: 15px;
               }
               button{
                padding: 15px;
                margin-left: 80px;
                color:gray;
                background-color:white;
                border: none;
               }

               }
            }
            .companies{
                display: flex;
                padding: 15px;
                button{
                    margin-left: 40px;
                padding: 8px 14px;
                margin: 7px 0px;
                border-radius:5px;
                border:2px solid white;
                background-color:#383E42;
                color: white;
                font-size: 16px;
                }
                button:hover{
                    background-color:white;
                    color:#383E42;
                }
                .companies-icons{
                    display: flex;
                    padding: 15px;
                    margin-left: 20px;
                    .ico1{
                        padding: 4px 0px;
                        .drop2{
                            padding: 10px;
                            font-size: 13px;
                            
                            margin-top: 10px;
                            border-radius:5px;

                            button{
                                text-align: center;
                                width: 100%;
                            }
                            .giris{
                                background-color:rgb(114, 170, 29);
                                color: white;
                            }
                            .qeydiyyat{
                                background-color:white;
                                color: rgb(114, 170, 29);
                                border:1px solid rgb(114, 170, 29);

                            }
                        }   
                    }
                    .ico1:hover{
                       
                    }
                    .ico2{
                        padding: 4px 0px;
                    }
                    svg{
                        margin: 0px 10px;
                    }
                }
            }
        }
        }
        margin-bottom: 20px;
}

.home-all-top{
    display: flex;
    justify-content: space-between;
    .home-right{
        .slideshow-container-mini-all{
            display: flex;
            justify-content: space-between;
            .mini-slider{
                max-width: 200px;
                height: 100px;
                
            }
        }
    }
    .home-left{
    
        border: 1px solid rgb(211, 211, 211);
        border-radius:5px;
        width: 90px;
        ul{
            list-style: none;
            li{
    
                .categorie-item{
                    .item{
                        padding: 15px;
                    }
                    .item-top{
                        width: 44px;
                    height: 44px;
                    box-shadow: 0 2px 8px -2px rgb(0 0 0 / 25%);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    }
                    .item-top:hover{
                        background-color:rgb(221, 255, 221);
                    }
                    
                    svg{
                        width: 22px!important;
                        height: 24px!important;
                    }
                    .item-bottom{
                        padding-top: 5px;
                        color:gray;
                        font-size: 12px;
                    }
                }
            }
        }
        ul:hover{
            cursor: pointer;
        }
    }
    
}














footer{
    background-color:#383E42;
    .footerall{
        padding: 20px 0px;
        display: flex;
        .footer-left{
            ul{
                list-style: none;
                li{
                    padding: 5px 0px;
                    a{
                        text-decoration: none;
                        color: white;
                        span{
                            font-size: 17px;
                            font-weight: 600;
                            padding: 5px 2px;
                            color: white;
                        }
                    }
                    svg{
                        width: 30px;
                        padding: 0px;
                    }
                    div{
                        .footerlogo{
                            width: 165px;
                            height: 50px;
                        }
                        span{
                            font-size: 16px;
                            color: white;

                        }
                    }
                }
            }
        }
        .footer-right{
            display: flex;
            
            .footer-box{
                padding: 0px 20px;
                h2{
                    color: white;
                    font-size: 24px;
                }
                ul{
                    
                    li{
                        padding: 4px 0px;
                        list-style: none;
                        a{
                            text-decoration: none;
                            color:white;
                            font-size: 17px;
                            line-height: 24px;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }
    .footer-bottom{
        hr{
            color:white;
        }
        .fbb{
            color:white;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            h2{
                font-size: 16px;
            }
            .f-bottom-icons{
                
                i{
                    padding: 0px 3px;
                }
            }
        }
        padding-bottom: 50px;
    }

}