*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin: 0px 119px;
    padding: 0px 24px;
}
.pbtn{
    cursor: pointer;
    color: #1d1d1b;
    display: flex;
    align-items: center;
    font-size: 14px;
}